<div class="job-form">
    <form novalidate>
        <label>Name</label>
        <input type="text" ng-model="$ctrl.job.name" />

        <label>Description</label>
        <textarea ng-model="$ctrl.job.description"></textarea>

        <input type="button" ng-click="$ctrl.create($ctrl.job)" value="Create" ng-show="!$ctrl.selected" />
        <input type="button" ng-click="$ctrl.update($ctrl.job)" value="Update" ng-show="$ctrl.selected" />
        <input type="button" ng-click="$ctrl.deselect()" value="Deselect" ng-show="$ctrl.selected" />
    </form>
</div>
