<ul class="job-list">
    <li ng-repeat="model in $ctrl.jobs | orderBy: 'id' track by model.id" ng-click="$ctrl.onClick(model)" ng-class="{selected: (model == $ctrl.selected)}">
        <header>{{model.name}}</header>
        <p>{{model.description}}</p>
    </li>
</ul>
